<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>序号</td>
            <td>书名</td>
        </tr>
        <!--  th:each="book:${books}" 循环 -->
        <!--  book循环中的每一项 -->
        <!--  books是model中的attribute -->
        <tr th:each="book:${books}">
            <!--  th:text="${}"  显示文本  -->
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookName}"></td>
        </tr>
    </table>
</body>
</html>